body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #0e4354;
}

a{
	color:#256c89;
}

h2{
	font-size:18px;
	color:#256c89;
	font-weight:normal;
	margin:0px;
	clear:both;
}

.jenis_insert{
	width:500px;
	height:200px;
	margin:20px 0 0 145px;
	float:left;
	padding:0px 0 0 0px;
	margin-top:20px;
	margin-left:200px;
	border-radius:4px;
}


.jenis_insert form input{
	width:300px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

#jenis_hapus{
	text-align:center;
	margin-top:20px;
}

#jenis_hapus form input{
	background: #F3F3F3 url(../images/user_logout.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}

.jenis_insert form select{
	width:307px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

.jenis_insert form button{
	background: #F3F3F3 url(../images/i_ok.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:-5px;
	display:inline-block;
	cursor:pointer;
	text-shadow:0px 1px 0px #FFFFFF;
}

.jenis_insert form select:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
	
}

.jenis_insert form input:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
	
}

.form{
width:600px;
float:left;
clear:both;
}

fieldset dl input{
	margin-top:7px;
}
fieldset { 
	border:none; 
	clear:both;
	margin-left:-20px;
}
label {font-size:16px; font-weight:bold; color:#666;}
label a{font-size:16px; font-weight:bold; color:#666;}
dl {clear:both; width:600px;}
dl.submit {
	clear:both; 
	width:500px; 
	text-align:center; 
	padding:0 0 0 90px;
	margin:-130px;
}

dt {float:left; margin-top:5px;text-align:right; width:170px; line-height:34px;}
dd {float:left; width:400px; margin:0 0 10px 0;}
