body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #0e4354;
}

a{
	color:#256c89;
}

h2{
	font-size:18px;
	color:#256c89;
	font-weight:normal;
	margin:0px;
	clear:both;
}

.kategori_insert{
	width:400px;
	height:150px;
	margin:20px 0 0 145px;
	float:left;
	margin-top:20px;
	margin-left:250px;
	border-radius:4px;
}

#kategori_hapus{
	text-align:center;
	margin-top:20px;
}

#kategori_hapus form input{
	background: #F3F3F3 url(../images/user_logout.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}



.kategori_insert form input{
	width:300px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

.kategori_insert form button{
	background: #F3F3F3 url(../images/i_ok.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}

.kategori_insert form input:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
}

.form{
width:600px;
float:left;
clear:both;
}

fieldset dl input{
	margin-top:7px;
}
fieldset { 
	border:none; 
	clear:both;
	margin-left:-80px;
}
label {font-size:16px; font-weight:bold; color:#666;}
label a{font-size:16px; font-weight:bold; color:#666;}
dl {clear:both; width:600px;}
dl.submit {
	clear:both; 
	width:500px; 
	text-align:center; 
	padding:0 0 0 90px;
	margin:-130px;
}

dt {float:left; margin-top:5px;text-align:right; width:170px; line-height:34px; padding:0 10px 10px 0;}
dd {float:left; width:400px; margin:0 0 10px 0;}
