body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #0e4354;
}

a{
	color:#256c89;
}

h2{
	font-size:18px;
	color:#256c89;
	font-weight:normal;

}

.user_insert{
	width:800px;
	height:250px;
	margin:20px 0 0 145px;
	float:left;
	margin-top:20px;
	margin-left:50px;
	border-radius:4px;
}

.user_insert form select:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
	
}

.user_insert form #input:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
	
}


.user_insert form textarea:hover{
	border-bottom-color:#999999;
	border-left-color:#999999;
	border-right-color:#999999;
	border-top-color:#999999;
	
}

.user_insert form #input{
	width:300px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

#user_hapus{
	text-align:center;
	margin-top:20px;
}

#user_hapus form input{
	background: #F3F3F3 url(../images/user_logout.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:10px;
	display:inline-block;
	cursor:pointer;
}

.user_insert form select{
	width:307px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

.user_insert form textarea{
	width:300px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 13px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	
}

.user_insert form button{
	background: #F3F3F3 url(../images/i_ok.png) no-repeat 4px center;
	padding:6px;
	padding-left:21px;
	margin-left:5px;
	margin-top:45px;
	display:inline-block;
	cursor:pointer;
	text-shadow:0px 1px 0px #FFFFFF;
}


fieldset dl input{
	margin-top:7px;
}
fieldset { 
	border:none; 
	clear:both;
	margin-left:-20px;
	float:left;
}
label {font-size:16px; font-weight:bold; color:#666;}
label a{font-size:16px; font-weight:bold; color:#666;}
dl {clear:both; width:600px;}
dl.submit {
	clear:both; 
	width:500px; 
	text-align:center; 
	padding:0 0 0 90px;
	margin:-130px;
}

dt {float:left; margin-top:5px;text-align:right; width:170px; line-height:34px;}
dd {float:left; width:400px; margin:0 0 10px 0;}
